<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>

  <div align="center">
    <h1> Lista de empleados</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Salario</th>
                <th>Departamento</th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${listEmployees}">
                <td th:text="${employee.Name}"></td>
                <td th:text="${employee.Salary}"></td>
                <td th:text="${employee.depto_id}"></td>

            </tr>
        </tbody>
    </table>
  </div>
</body>
</html>