<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Inicio</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

  <div align="center" class="container my-2">
    <h1> Lista de empleados</h1>
    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Salario</th>
                <th>Departamento</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${listEmployees}">
                <td th:text="${employee.Name}"></td>
                <td th:text="${employee.Salary}"></td>
                <td th:text="${employee.depto_id}"></td>
                <td><a th:href="@{/Actualizar/{id}(id=${employee.id})}" class="btn btn-primary">Actualizar</a></td>
                <td><a th:href="@{/Borrar/{id}(id=${employee.id})}" class="btn btn-danger">Eliminar</a></td>

            </tr>
        </tbody>
    </table>
      <a th:href="@{/agregarEmpleado}" class="btn btn-primary btn-sm mb-3"> Agregar empleado</a>
  </div>
</body>
</html>